<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="clientExtensions" type="Ucsb.Sa.Enterprise.ClientExtensions.Configuration.ClientExtensionsRedisConfigurationSection,Ucsb.Sa.Enterprise.ClientExtensions.Redis" />
	</configSections>
	
	<appSettings>
		<add key="applicationName" value="Ucsb.Sa.Enterprise.ClientExtensions.Redis.Tests" />
		<add key="environment" value="local" />
		<!--<add key="MvcExtensions:EncryptionKey" value="Jack" />-->
	</appSettings>
	
	<connectionStrings>
		<add name="Instrumentation" connectionString="Initial Catalog=Instrumentation;Data Source=instrumentation.sql.dev.sa.ucsb.edu,2433;Integrated Security=SSPI;Application Name=Ucsb.Sa.Enterprise.MvcExtensions.Tests" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<clientExtensions>
		<httpClients>
			<httpClient name="p1" baseAddress="http://jsonplaceholder.typicode.com/" traceLevel="All" serializeToCamelCase="false" />
			<httpClient name="h1">
				<header name="n1" value="v1" />
			</httpClient>
			<httpClient name="OverrideDefaultConfigTest" baseAddress="http://jsonplaceholder.{env}.typicode.com" traceLevel="All" />
			<httpClient name="basicAuth" baseAddress="http://jsonplaceholder.typicode.com/">
				<header name="Authorization" username="asdf" password="1234" />
			</httpClient>
		</httpClients>
	</clientExtensions>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
</configuration>